<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag(@movie.image.url(:medium)) %>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td>Title:</td>
                <td><%= @movie.title %></td>
              </tr>
              <tr>
                <td>Description:</td>
                <td><%= @movie.description %></td>
              </tr>
              <tr>
                <td>Movie Length:</td>
                <td><%= @movie.movie_length %></td>
              </tr>
              <tr>
                <td>Director:</td>
                <td><%= @movie.director %></td>
              </tr>
              <tr>
                <td>Rating:</td>
                <td><%= @movie.rating %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1><%= @movie.title %></h1>
        <p>Average Rating: <span class="star-rating" data-score="<%= @avg_rating %>"></span></p>
        <p><%= @movie.description %></p>
        
        
        <% if @reviews.any? %>
        <%= link_to "Write a Review", new_movie_review_path(@movie), class: 'btn btn-default' %>
        <br><br>
          <h2>User reviews</h2>
            <% @reviews.each do |review| %>
              <div class="reviews">
                <div class="star-rating" data-score="<%= review.rating %>"></div>
                <p><%= review.comment %></p>
                <small>Submitted by <%= review.user.email %>
                <% if review.user == current_user %>
                  <%= link_to "Edit", edit_movie_review_path(@movie, review) %>
                <% end %>
                </small>
              </div>
            <% end %>
        <% else %>
            <h4>No reviews submitted for this movie. <%= link_to "Create one now", new_movie_review_path(@movie) %>.</h4>
        <% end %>

      </div>
    </div>
  </div>
</div>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>